@font-face {
  font-family: "FiraSans-Light";
  src: url("../fonts/FiraSans-Light.ttf");
}

@font-face {
  font-family: "FiraSans-Bold";
  src: url("../fonts/FiraSans-ExtraBold.ttf");
}

:root {
  --font-color: white;
  --background-color: #36393f;
  --background-modifier-accent: hsla(0%, 100%, 0.6);
}

@media (prefers-color-scheme: light) {
  body {
    --font-color: #36393f;
    --background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    --font-color: white;
    --background-color: #36393f;
  }
}

body {
  font-family: "FiraSans-Light";
  background: var(--background-color);
  color: var(--font-color);
}

.sign-out-container {
  text-align: right;
}

.main-page {
  display: flex;
  height: 95%;
  width: 99%;
  position: absolute;
  margin: 0;
  padding: 0;
  border-radius: 15px;
}

.main-page__side-menu {
  flex: 1;
  height: 100%;
  border-right: 0px dashed white;
  background: rgb(47, 49, 54);
  box-shadow: inset 0 -1px 0 var(--background-modifier-accent);
}

.main-page__main-body {
  flex: 3;
  height: 100%;
}

.ReactModal__Overlay--after-open {
  background: rgba(0, 0, 0, 0.65) !important;
}

.ReactModal__Content--after-open {
  background: #36393f !important;
  border: none !important;
}

.projects-container {
  padding: 0;
  list-style-type: none;
}

.projects-container li {
  padding: 10px 10px;
  color: rgb(142, 146, 151);
}

.projects-container li a {
  text-decoration: none;
  color: rgb(142, 146, 151);
}

.projects-container li a:hover {
  color: white !important;
  cursor: pointer;
}

.projects-container li.selected {
  color: white;
  font-weight: bold;
}

.selected-channel a {
  color: white !important;
  font-weight: bold;
}

.login-container {
  height: 100%;
  width: 100%;
  position: absolute;
}

.login-container form,
.signin-container,
.register-container {
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.signin-container {
  position: absolute;
}

h1 {
  font-family: "FiraSans-Bold";
  text-align: center;
}

.login-container form section h1,
.signin-container p {
  text-align: center;
}

.modal-conainer__action-buttons {
  display: flex;
  justify-content: flex-end;
}

input[type="text"],
input[type="password"] {
  background: rgba(0, 0, 0, 0.1);
  color: rgb(220, 221, 222);
  height: 25px;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

input[type="text"]:active,
input[type="password"]:active {
  background: rgb(114, 137, 218);
}

button {
  color: #fff;
  background-color: #7289da;
  min-width: 96px;
  border: 0;
  margin: 2px 2px;
  border-radius: 3px;
  height: 30px;
  min-height: 30px;
  margin-left: 5px;
}

button.default {
  background-color: transparent;
  font-weight: bold;
}

.modal-container__show-modal-button {
  min-width: 25px;
}

a {
  color: white;
}

.inline-block {
  display: inline-block;
}

.register-container_action-button {
  height: 30px;
  min-height: 30px;
  margin-left: 5px;
}

#__next {
  position: absolute;
  height: 98%;
  width: 98%;
}

.align-center {
  text-align: center;
}

.main-page__main-body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main-page__channel-history {
  border: 1px solid rgb(47, 49, 54);
  flex: 20;
  margin-bottom: 5px;
  border-radius: 15px;
}

.main-page__input-text {
  flex: 1;
  background: rgb(64, 68, 75);
  border-radius: 5px;
}

.main-page__input-text div {
  display: flex;
}

.main-page__input-text div input[type="text"] {
  flex: 3;
}

.message-container {
  padding: 0;
  list-style-type: none;
}

.message-container li {
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 10px;
}

.message-container__not-author {
  /* background-color: #7289da; */
  text-align: right;
}

.editor-menu ul {
  position: absolute;
  background: black;
  color: rgb(142, 146, 151);
  width: 200px;
  border: 1px solid rgb(47, 49, 54);
  border-radius: 10px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.editor-menu ul li:hover {
  color: white;
}

.editor-menu ul li {
  padding: 10px 10px;
  cursor: pointer;
}

.editor-menu_action-delete {
  color: red !important;
}

.message-editor {
  position: absolute;
  background: black;
  border: 1px solid #36393f;
  border-radius: 10px;
  margin: 10px 10px;
  width: 250px;
}

.message-editor ul {
  background: black;
  color: rgb(142, 146, 151);
  width: 200px;
  border: 1px solid rgb(47, 49, 54);
  border-radius: 10px;
  padding: 0;
  list-style-type: none;
  text-align: left;
}

.message-editor__open-button {
  cursor: pointer;
}

.message-editor__open-button:hover {
  color: white;
}

.welcome-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  place-content: center;
  height: 100%;
  width: 100%;
}

.welcome-page-container * {
  text-align: center;
}

.hide-block {
  display: none;
}

.upload-file-ref {
  display: none;
}

.main-page__input-text input[type="text"] {
  border: none;
  background: transparent;
}

.main-page__input-text button {
  min-width: 4px;
  background: rgb(64, 68, 75);
}

.username {
  margin-bottom: 10px;
}

.username span {
  font-weight: bold;
}

.username span:nth-child(2) {
  color: rgb(114, 118, 125);
}

.error {
  text-align: center;
  border-radius: 5px;
  padding: 10px 10px;
  background: white;
  color: red;
  border: 4px solid red;
}

#message-editor {
  width: 100%;
}
